:root {
	--theme-font-family-base: "Inter", system-ui;
	--theme-font-family-heading: "Inter", system-ui;

	@supports (font-variation-settings: normal) {
		--theme-font-family-base: "Inter var", system-ui;
		--theme-font-family-heading: "Inter var", system-ui;
	}

	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 4px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;

	--on-primary: 0 0 0;
	--on-secondary: 0 0 0;
	--on-tertiary: 0 0 0;
	--on-success: 255 255 255;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;

	--color-primary-50: 222 243 247;
	--color-primary-100: 211 239 245;
	--color-primary-200: 200 235 242;
	--color-primary-300: 167 223 234;
	--color-primary-400: 101 198 219;
	--color-primary-500: 35 174 203;
	--color-primary-600: 32 157 183;
	--color-primary-700: 26 131 152;
	--color-primary-800: 21 104 122;
	--color-primary-900: 17 85 99;

	--color-secondary-50: 240 249 230;
	--color-secondary-100: 235 247 222;
	--color-secondary-200: 231 245 213;
	--color-secondary-300: 216 238 188;
	--color-secondary-400: 186 226 138;
	--color-secondary-500: 157 213 88;
	--color-secondary-600: 141 192 79;
	--color-secondary-700: 118 160 66;
	--color-secondary-800: 94 128 53;
	--color-secondary-900: 77 104 43;

	--color-tertiary-50: 234 254 237;
	--color-tertiary-100: 227 253 231;
	--color-tertiary-200: 221 253 225;
	--color-tertiary-300: 200 251 207;
	--color-tertiary-400: 158 248 171;
	--color-tertiary-500: 117 245 135;
	--color-tertiary-600: 105 221 122;
	--color-tertiary-700: 88 184 101;
	--color-tertiary-800: 70 147 81;
	--color-tertiary-900: 57 120 66;

	--color-success-50: 221 220 245;
	--color-success-100: 210 209 241;
	--color-success-200: 199 197 238;
	--color-success-300: 165 162 228;
	--color-success-400: 97 93 207;
	--color-success-500: 29 23 187;
	--color-success-600: 26 21 168;
	--color-success-700: 22 17 140;
	--color-success-800: 17 14 112;
	--color-success-900: 14 11 92;

	--color-warning-50: 230 243 251;
	--color-warning-100: 222 239 250;
	--color-warning-200: 214 235 249;
	--color-warning-300: 189 223 245;
	--color-warning-400: 139 198 238;
	--color-warning-500: 89 174 230;
	--color-warning-600: 80 157 207;
	--color-warning-700: 67 131 173;
	--color-warning-800: 53 104 138;
	--color-warning-900: 44 85 113;

	--color-error-50: 251 218 223;
	--color-error-100: 249 205 213;
	--color-error-200: 248 193 202;
	--color-error-300: 243 155 171;
	--color-error-400: 235 81 107;
	--color-error-500: 226 6 44;
	--color-error-600: 203 5 40;
	--color-error-700: 170 5 33;
	--color-error-800: 136 4 26;
	--color-error-900: 111 3 22;

	--color-surface-50: 220 222 221;
	--color-surface-100: 209 210 210;
	--color-surface-200: 197 199 199;
	--color-surface-300: 163 166 165;
	--color-surface-400: 93 99 98;
	--color-surface-500: 24 32 31;
	--color-surface-600: 22 29 28;
	--color-surface-700: 18 24 23;
	--color-surface-800: 14 19 19;
	--color-surface-900: 12 16 15;
}
